<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSMicrophoneUsageDescription</key>
  <string>Repeater Nation Radio uses the microphone to transmit when you press PTT.</string>
  <key>NSBluetoothAlwaysUsageDescription</key>
  <string>Repeater Nation Radio connects to Bluetooth PTT buttons and hand mics.</string>
  <key>UIBackgroundModes</key>
  <array>
    <string>audio</string>
  </array>
</dict>
</plist>
