VITE_REPEATER_NATION_APP_URL=https://repeaternation.com
VITE_REPEATER_NATION_AUTH_URL=
VITE_REPEATER_NATION_SESSION_URL=
VITE_LIVEKIT_URL=wss://voice.repeaternation.com
VITE_LIVEKIT_RADIO_ROOM=nation-wide
